.container {
    display: flex;
    width: auto;
    display: flex;
    justify-content: center;
    height: 40px;
    margin-top: 4rem;
}

:global(.button).button_red {
    background: #bd1f1f;
    border: none;
}


:global(.icon).search-icon {
    color: white;
}