.nav_bar {
    color: white;
    display: flex;
    width: auto;
    font-size: 1rem;
    margin-left: 30%;
    padding-top: 5px;
    font-weight: 900;
    font-family: Arial;

}

.write_review {
    color: white;
    padding-right: 1.5rem;
}


.message_icon {

    margin-left: 30%;

    width: 25px;
    height: 20px;

}





a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}